@page "/BookingConfirmation/{TableBookingId:long}"
@using WebClient.Models
@using WebClient.Data
@inject ITableBookingService tableBookingService
@inject NavigationManager navigationManager

<h3>Booking Confirmation</h3>

<div class="text-center">
    <h3> <br/> We are looking forward to seeing you!</h3>
    <div class="text-center">
        <p>Booking id: @tableBooking.TableBookingId</p>
    </div>
    <div class="text-center">
        @* <p>Date: @tableBooking.BookingDateTime.ToLongDateString()</p> *@
    </div>
    <div class="text-center">
         <p>Description: Table booking for @tableBooking.People people. <br/>The reservation is valid up to 15 minutes aftyer the booked time<br/></p>
        @if (tableBooking.Description is { } or "")
        {
            <p> Comments: @tableBooking.Description</p>
        }
       
    </div>
    <div class="text-md-right">
        <button @onclick="BackToMainPage">Back to home page</button>
    </div>
    @tableBooking.Description
</div>

@code {
    [Parameter]
    public long TableBookingId { get; set; }


    private TableBooking tableBooking = new TableBooking();

    protected override async Task OnInitializedAsync()
    {
        tableBooking = await tableBookingService.GetBookingById(TableBookingId);
    }


    private void BackToMainPage()
    {
        navigationManager.NavigateTo("/Index");
    }

}