@page "/BookATable"
@using WebClient.Models
@using WebClient.Data
@using Microsoft.AspNetCore.Http.Connections
@using Microsoft.AspNetCore.Identity
@using AuthenticationStateProvider = WebClient.Data.AuthenticationStateProvider
@inject ITableBookingService tableBookingService
@inject AuthenticationStateProvider authenticationStateProvider 

<h3>Book A Table</h3>
<body>
    <!-- Table Reservation Form -->
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="text-primary">Book A Table</h2>
            </div>
        </div>
        <EditForm Model="@inputDateTime" OnValidSubmit="GetBookings">
            <div class="form-row">

                <div class="col-lg-4 col-md-6 form-group">
                    <InputDate type="date" @bind-Value="inputDateTime"  name="date" class="form-control" id="date" placeholder="Date" />
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" @bind-value="people" class="form-control" name="people" id="people" placeholder="No. of people">
                    
                </div>
            <div class="col-lg-4 col-md-6 form-group">

                <button type="submit" class="btn btn-primary float-right mt-3">Check availability</button>
                </div>

            </div>
        </EditForm>
            <!-- Displaying available times-->
            <div class="container py-7">
                <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">

                    <b>Available times</b>
                </h2>
                <AuthorizeView Context="ASContext">
                    <!-- Days -->
                      <div class="row">
                          <div class="col-lg-4 mb-3" id="Searching date">
                              <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                                  @inputDateTime.ToLongDateString()
                              </h4>
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th>Time</th>
                                      <th>Table</th>
                                      <th>Book</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  @foreach (var tableBooking in tableBookings.Where(tableBooking => tableBooking.Customer == null))
                                  {
                                      <tr>
                                          <td>@tableBooking.BookingDateTime.ToShortTimeString()</td>
                                          <td>@tableBooking.Table.TableId</td>
                                          <td>
                                             @* <input type="checkbox"  @onchange="@(() => UpdateTableBooking(@tableBooking, @ASContext))"/>*@
                                          </td>
                                      </tr>
                                  }
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      </AuthorizeView>
            </div>
            <!-- Leaving comments and submit-->
            
            <div class="form-group">
                <textarea class="form-control" name="comments" placeholder="Leave a comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right mt-3">Book a Table</button>
    </div>
</section>
</body>

@code {
  private TableBooking newTableBooking = new TableBooking();
  private List<TableBooking> tableBookings = new List<TableBooking>();
  private List<Table> tables = new List<Table>();
    private DateTime inputDateTime = DateTime.Today;
    private int people;
    private Customer customer = new Customer();


    private async Task GetBookings()
    {
        tableBookings =  await tableBookingService.GetBookings(inputDateTime);
    }

    private async Task UpdateTableBooking(TableBooking tableBooking, Customer customerBooking )
    {
        var toUpdate = tableBooking;
        toUpdate.Customer = customerBooking;

        newTableBooking = await tableBookingService.UpdateTableBooking(tableBooking);
    }
}